<table>
  <thead>
    <tr>
      <th class="table_header">Name of currency</th>
      <th class="table_header">buy value</th>
      <th class="table_header">best exchange office</th>
      <th class="table_header">sell value</th>
      <th class="table_header">best exchange office</th>
      <th class="table_header">net worth</th>
      <th class="table_header">list of all exchange offices with provided currency</th>
    </tr>
  </thead>

  <tbody >
    <% currencies.each do |currency| %>
    <span class="row">
      <tr>
        <td class="table_content"><%= currency.name %></td>
        <td class="table_content"><% if currency.last_best_buy_statnode_id && StatNode.find(currency.last_best_buy_statnode_id) then %>
          <%= StatNode.find(currency.last_best_buy_statnode_id).buy_value %>
        <% else %>
        no data
        <% end %> </td>
        <% if currency.last_best_buy_statnode_id && StatNode.find(currency.last_best_buy_statnode_id) then %>
          <% buy_office = StatNode.find(currency.last_best_buy_statnode_id).site %>
          <td><div class="wrapper"><%= link_to buy_office.name, buy_office.url, class: "btn" %></div></td>
        <% else %>
          <td class="table_content"> no data </td>
        <% end %>

        <td class="table_content"> <% if currency.last_best_sell_statnode_id && StatNode.find(currency.last_best_sell_statnode_id) then %>
        <%=  StatNode.find(currency.last_best_sell_statnode_id).sell_value %>
        <% else %>
        no data
        <% end %></td>
        <% if currency.last_best_sell_statnode_id && StatNode.find(currency.last_best_sell_statnode_id) then %>
        <% sell_office = StatNode.find(currency.last_best_sell_statnode_id).site %>        
          <td><div class="wrapper"><%= link_to sell_office.name, sell_office.url, class: "btn" %></div>
          </td>
        <% else %>
          <td class="table_content"> no data </td>
        <% end %>
        <td class="table_content"><%= currency.average_value %></td>
        <td class="table_content"><div class="wrapper">
        <%= link_to "show all exchange offices", currency_path(currency), class: "btn2" %></div></td>
      </tr>
      </span>
    <% end %>
  </tbody>
</table>
<p class="small-12 columns, updated_text">last updated at: 
<% if StatNode.last then %>
  <%=StatNode.last.created_at %>
<% else %> 
  no data yet.
<% end %>
</p>