<h1>List of watched currencies.</h1> 
<h5>last updated at: 
<% if StatNode.last then %>
  <%=StatNode.last.created_at %>
<% else %> 
  no data yet.
<% end %>
</h5>
<br>
<table>
  <thead>
    <tr>
      <th>Name of currency</th>
      <th>buy value</th>
      <th>best exchange office</th>
      <th>sell value</th>
      <th>best exchange office</th>
      <th>net worth</th>
      <th >list of all exchange offices with provided currency</th>
    </tr>
  </thead>

  <tbody>
    <% @currencies.each do |currency| %>
    <span class="row">
      <tr>
        <% current_statistics = currency.last_statistics %>
        <td><%= currency.name %></td>
        <td><%= currency.current_buy_value(current_statistics) %></td>
        <% buy_office = currency.current_buy_office(current_statistics) %>
        <% if buy_office then %>
          <td><%= link_to buy_office.name, buy_office.url %></td>
        <% else %>
          <td> no data </td>
        <% end %>
        <td><%= currency.current_sell_value(current_statistics) %></td>
        <% sell_office = currency.current_sell_office(current_statistics) %>
        <% if sell_office then %>
          <td><%= link_to sell_office.name, sell_office.url %></td>
        <% else %>
          <td> no data </td>
        <% end %>
        <td><%= currency.current_worth(current_statistics) %></td>
        <td><%= link_to "show all exchange offices", currency_path(currency) %></td>
      </tr>
      </span>
    <% end %>
  </tbody>
</table>

<br>

